body {
    background: rgba(243, 181, 67, 0.637);
    margin: 0;
    padding: 0;
  }
h1 {
  text-align: center;
}
img {
  align: center;
}
table, td {
    /* border: 1px solid black; */
}
p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
section {
  text-align: center;
}

nav {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center
  display: inline;
}
/* li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
} */